BOT__MODE="polling"
BOT__TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
# Unnecessary if using polling, but required for webhook mode
BOT__WEBHOOK__BASE_URL="https://example.com"
BOT__WEBHOOK__PATH="/telegram/webhook"
BOT__WEBHOOK__SECRET_TOKEN="YOUR_WEBHOOK_SECRET"
BOT__WEBHOOK__DROP_PENDING_UPDATES=false

REDIS__HOST="localhost"
REDIS__PASSWORD="password"
REDIS__LONG_TTL=86400
REDIS__SHORT_TTL=300

QUESTION_LIMITS__MAX_QUESTION_TEXT_LEN=384
QUESTION_LIMITS__MAX_ANSWER_TEXT_LEN=384
QUESTION_LIMITS__MAX_POPULAR_AMOUNT=7
QUESTION_LIMITS__MAX_SIMILAR_AMOUNT=7
QUESTION_LIMITS__MAX_AMOUNT=7

RATE_LIMIT__ENABLED=true
RATE_LIMIT__MAX_REQUESTS=5
RATE_LIMIT__WINDOW=10
RATE_LIMIT__SKIP_ADMIN=true

ORCHESTRATOR_CLIENT__BASE_URL="http://localhost:8000"
ORCHESTRATOR_CLIENT__TIMEOUT=5
ORCHESTRATOR_CLIENT__RETRIES=1
ORCHESTRATOR_CLIENT__RETRY_DELAY=0.2
