BOT__TOKEN="YOUR_TELEGRAM_BOT_TOKEN"

REDIS__HOST="localhost"
REDIS__PASSWORD="password"
REDIS__LONG_TTL=86400
REDIS__SHORT_TTL=300

QUESTION_LIMITS__MAX_QUESTION_TEXT_LEN=384
QUESTION_LIMITS__MAX_ANSWER_TEXT_LEN=384
QUESTION_LIMITS__MAX_POPULAR_AMOUNT=7
QUESTION_LIMITS__MAX_SIMILAR_AMOUNT=7
QUESTION_LIMITS__MAX_AMOUNT=7

RATE_LIMIT__ENABLED=true
RATE_LIMIT__MAX_REQUESTS=5
RATE_LIMIT__WINDOW=10
RATE_LIMIT__SKIP_ADMIN=true

ORCHESTRATOR_CLIENT__BASE_URL="http://localhost:8000"
ORCHESTRATOR_CLIENT__TIMEOUT=5
ORCHESTRATOR_CLIENT__RETRIES=1
ORCHESTRATOR_CLIENT__RETRY_DELAY=0.2
