DB__NAME="faq_bot_db"
DB__USER="postgres"
DB__PASSWORD="password"
DB__HOST="localhost"

DB_SCHEMA__QUESTION_TEXT_MAX_LEN=384
DB_SCHEMA__ANSWER_TEXT_MAX_LEN=384
DB_SCHEMA__QUESTION_EMBEDDING_DIM=256

SEARCH__BEST_MATCH_THRESHOLD=0.7
SEARCH__BEST_MATCH_MARGIN=0.1
SEARCH__RELATED_THRESHOLD=0.4
SEARCH__OBVIOUS_MARGIN=0.3

SUGGESTION__RERANK=True

EMBEDDING_CLIENT__TIMEOUT=5
EMBEDDING_CLIENT__RETRIES=2
EMBEDDING_CLIENT__RETRY_DELAY=0.5

RERANK_CLIENT__TIMEOUT=5
RERANK_CLIENT__RETRIES=2
RERANK_CLIENT__RETRY_DELAY=0.5


ADMIN__IDS=[123456789]

API__HOST="0.0.0.0"
API__PORT=8000

# Yandex Cloud API credentials for embedding generation
REQUESTS__FOLDER_ID="YOUR_FOLDER_ID"
REQUESTS__IAM_TOKEN="YOUR_IAM_TOKEN"
